#main {
    width: 600px;
    height: 500px ;
    background-color: black;
}

#child-1{
    width: 200px;
    height: 20px;
    background-color: red;
    text-align: center;
    margin: 0 auto;
    font-size: 10px;
 }


.dynamic {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    margin:4px;
    display: inline-block;
    color: #ffffff;
}